<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <div id="header" class="nav-collapse nav-solid">
    <div class="row clearfix">
      <div class="col-1">

        <!--Logo-->
        <div id="logo">

          <!--Logo that is shown on the banner-->
          <img src="../../assets/images/Logo.jpg" width =50, height = 3050 id="banner-logo" alt="Landing Page"/>
          <h1>Ease4E's </h1>
          <!--End of Banner Logo-->

          <!--The Logo that is shown on the sticky Navigation Bar-->
          <img src="../assets/images/Logo.jpg" id="navigation-logo" alt="Landing Page"/>
          <!--End of Navigation Logo-->

        </div>
        <!--End of Logo-->

        <aside>


        </aside>

        <!--Main Navigation-->
        <nav id="nav-main">
          <ul>
            <li>
              <a href="" >Home </a>
            </li>
            <li>
              <a href="/Sports_Centers">Physical</a>
            </li>
            <li>
              <a href="/City_Highlights" >City Highlights</a>
            </li>
            <li>
              <a href="/Ageing_facts" > Facts</a>
            </li>
          </ul>
        </nav>


        <!--End of Main Navigation-->

        <div id="nav-trigger"><span></span></div>
        <nav id="nav-mobile"></nav>

      </div>
    </div>
  </div><!--End of Header-->

  <!--Banner Content-->

</header>

