<section>


    <div class="Center" style=" text-align: center">
        <form id="qq">
            <h3>Do you feel lonely and need some help</h3>
             <ul>
                <li><input name="q1" type="radio" value="a"/>asdasd</li>
                <li><input name="q1" type="radio" value="b"/>asdasd</li>
                <li><input name="q1" type="radio" value="c"/>asdasd</li>
            </ul>
       
            <input type="submit" name="submit" onclick="open()">
 
            
        </form>
    </div>

    
 
</section>