
<!--Introduction-->

<section id="about" class="introduction scrollto">

  <div class="row clearfix">

    <div class="col-3">
      <div class="section-heading">
        <h3>Elders are never alone with E4Elderly’s
        </h3>

        <h2 class="section-title">Loneliness is contributing to depression among elderly Australians</h2>
        <p class="section-subtitle">But connection can be a life saver. We Help You To Feel Good And Live Happily</p>
      </div>

    </div>

    <div class="col-2-3">

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-html5 fa-2x"></i>
        </div>

        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Find Sports Facility near you</h4>
          <p>Stay fit, stay healthy! Flex your muscles, move those legs and churn a sweat.</p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-bolt fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Explore Melbourne City</h4>
          <p>Witness Melbourne city like never before. A pint to drink, a play to watch and new people to meet and interact with.</p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-tablet fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Health Services</h4>
          <p>There’s no wealth without health! Our caring experts at Elder4Elderly’s put your health as the first priority. Your mental and physical wellness is what we strive for. No ailment should go untreated!
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-rocket fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Face the facts</h4>
          <p>Healthy Ageing leads to better living. Know some uselful information on facts of elderly.</p>
        </div>
      </div>
      <!--End of Icon Block-->

    </div>

  </div>


</section>
<!--End of Introduction-->
