<!--Banner Content-->
<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
<div id="banner-content" class="row clearfix">

    <div class="col-38">

      <div class="section-heading">
        <h1>EASE 4 ELDERLY'S - PROVIDING EASE FOR THE ELDERLY</h1>
        <h2>For your sanity and well-being we strive!
          Our team of highly compassionate and caring experts search here, there and everywhere for the best resources to provide you with the best care and ease that’s available out there, allowing you to age with grace without ever feeling lonely again.
        </h2>
      </div>

      <!--Call to Action-->
      <!--<a href="#" class="button">START CREATING TODAY</a> -->
      <!--End Call to Action-->

    </div>

  </div><!--End of Row-->
</header>
<app-intro></app-intro>

<app-govtwebs></app-govtwebs>